// WRAPPER DIV
.wrapper {
    // border: 1px solid black;
    max-width: 1300px;
    margin-inline: auto;
    padding-inline: 2rem;
    text-align: center;
    font-size: 22px;

    p {
        margin-bottom: 2rem;
    }
    span {
        color: #DC143C;
        font-weight: 500;
    }
    @media(min-width: 768px) {
        padding-inline: 4rem;
        p {
            max-width: 45ch;
        }
        text-align: start;
        font-size: 28px;
    }
}
// Icons div
.icons {
    display: flex;
    justify-content: center;
    gap: 1rem;

    @media(min-width:768px) {
        justify-content: flex-start;
    }
}